.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.boardOfCards {
    flex: 1;
}

.listOfUsers {

}

.pokerCard {
    margin-left: 4px;
    padding: 72px;
    margin-top: 4px;
}

.user {

}

.userName {

}

.userStatus {

}

.userVote {

}

.flipButton {
    
}